doctype
html
  head
    meta(charset='UTF-8')
    title roller coaster
    link(href="favicon.ico", rel="icon", type="image/png")
    link(rel="stylesheet", type="text/css", href="css/main.css")
  
  body
    section(role="main")#main
      //- 1,485431556
      .svg-container
        .svg-container__content
          include roller-coaster.svg

    <div class="sol0mka-learn-more"><style>.sol0mka-learn-more{position: fixed;top: 0;right: 10px;position: fixed;}.sol0mka-learn-more__link{width: 80px;padding-bottom: 120%;background: #3478bd url('http://blog.legomushroom.com/learn-more.png') no-repeat center center;background-size: 70% auto;display: block;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}.sol0mka-learn-more__link:hover{background-color: #387fc7;}@media all and (max-width:1440px){.sol0mka-learn-more__link{width: 60px;}}@media all and (max-width:1280px){.sol0mka-learn-more__link{width: 50px;}@media all and (max-width:505px){.sol0mka-learn-more__link{display: none;}}@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi){.sol0mka-learn-more__link{background: #3478bd url('http://blog.legomushroom.com/learn-more@2x.png') no-repeat center center;background-size: 53px 75px;background-size: 70% auto;}}</style><a href="" title="learn more" class="sol0mka-learn-more__link"></a></div>

    script(src="js/tween.min.js")
    script(src="js/main.js")






